.label {
    -fx-font: bold 20px "Monospace";
    -fx-text-fill: #ffefd5;
}

.button {
    -fx-font: bold 20px "Monospace";
    -fx-border-color: #ffefd5;
    -fx-border-width: 2px;
    -fx-background-color: #ffefd5;
    -fx-border-radius: 2px;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-cursor: hand;
    -fx-background-color: #fbd598;
}

.button:pressed {
    -fx-scale-x: 0.98;
    -fx-scale-y: 0.98;
    -fx-scale-z: 0.98;
}

.button:disabled {
    -fx-font: normal 12px "Sans";
    -fx-text-fill: #ffefd5;
    -fx-background-color: transparent;
    -fx-opacity: 1.0;
}

